h1{
    text-align: center;
    text-shadow:2px 2px #AA6C39;
}
img{
    width: 1068px;
    height: 300px;
}

.main{
    background-color: darkgreen;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color:black;
    
}
.article-1{
    text-align: center;
    align-items: center;
    font-size: x-large;
}

.article-2{
    border: 1px solid gray;
    /* padding-top: 30px; */
    float: left;
    text-align: center;
    padding: 10px;
}
.form{
    display: block;
    flex-direction: column;
    float: right;
    width: 40%;
    font-size: x-large;
}

